.quote-box {
	color: white;
	background-color: #282a2d;
	margin: 15px 200px;
	padding: 10px 30px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-box {
	background-color: #282a2d;
	height: 500px;
	margin: 30px 200px;
	padding: 50px 0;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image {
  width: 400px;
	height: 400px;
}
ul {
  list-style-type: none;
}